<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/calculate_mall" method="post">
        <img src="logo.png">让深度学习和呼吸一样自然
        <input type="image" name="头像">
        <input type="submit" value="个人中心"><br>
        算法筛选<br>
        作用
        <input type="radio" name="图像识别">图像识别
        <input type="radio" name="语言合成">语言合成
        <input type="radio" name="xxx">xxx
        <input type="radio" name="xx">xx<br>

        <input type="radio" name="算法1">算法1 ----算法1介绍<br>
        <input type="radio" name="算法2">算法2 ----算法2介绍<br>
        <input type="radio" name="算法3">算法3 ----算法3介绍<br>
        <input type="radio" name="算法4">算法4 ----算法4介绍<br>
        <input type="radio" name="算法5">算法5 ----算法5介绍<br>
        <input type="submit" value="确认">
    </form>


</body>
</html>