<!DOCTYPE html>
<html class="no-js" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>algorithmic_mall</title>
    <!-- Favicon -->

    <!-- Google Fonts -->
    <link href="../static/css/mall/assets/fonts-googleapis.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/mall/assets/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/mall/assets/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/mall/assets/flaticon.css">
    <link rel="stylesheet" href="../static/css/mall/assets/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/mall/assets/meanmenu.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="../static/css/mall/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/mall/assets/owl.theme.default.min.css">
    <!-- Main Css -->
    <link rel="stylesheet" href="../static/css/mall/assets/stl.css">
    <link rel="stylesheet" href="../static/css/mall/assets/rs.css">
    <link rel="stylesheet" href="../static/css/mall/assets/ms.css">
    <link rel="stylesheet" href="../static/css/mall/assets/main.css">
    <link rel="stylesheet" href="../static/css/mall/assets/inner-pages.css">
    <link rel="stylesheet" href="../static/css/mall/assets/inner-pages-responsive.css">

    <!-- JavaScript Files -->
    <script src="../static/js/mall/jquery-3.2.1.min.js"></script>
    <script src="../static/js/mall/popper.min.js"></script>
    <script src="../static/js/mall/bootstrap.min.js"></script>
    <script src="../static/js/mall/owl.carousel.min.js"></script>
    <script src="../static/js/mall/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/mall/jquery.meanmenu.min.js"></script>
    <script src="../static/js/mall/main.js"></script>
    <script src="../static/js/mall/algorithmic.js"></script>

    <style>
        div {
            margin-top: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }
    </style>
</head>
<body class="home-hostio" id="home-hostio">

<div class="service-section pb-100" id="service-section">
    <div class="container">
        <div class="row2">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <div class="bestsite-head text-center pt-50 pb-70">
                    <div class="section-title">
                        <h2>算法筛选</h2>
                    </div>
                    <div class="section-content" style="margin: 40px">
                        <div style="display:inline-block; padding-left: 0px;">
                            <button type="button" class="btn btn-primary" id="btn1"><h5 class="text-white"
                                                                                        style="margin: 5px">图像识别</h5>
                            </button>
                        </div>
                        <div style="display:inline-block; padding-left: 70px">
                            <button type="button" class="btn btn-primary" id="btn2"><h5 class="text-white"
                                                                                        style="margin: 5px">分类</h5>
                            </button>
                        </div>
                        <div style="display:inline-block; padding-left: 70px">
                            <button type="button" class="btn btn-primary" id="btn3"><h5 class="text-white"
                                                                                        style="margin: 5px">回归</h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="service-option">
            <div class="row">
                {% for AL in AL_select %}
                    {% if AL[3] %}
                        <!-- star service -->
                        <div class="col-md-4">
                            <div class="service-area">
                                <div class="service-body">
                                    <h5 class="card-title">
                                        <div>{{ AL[1] }}</div>
                                    </h5>
                                    <p class="card-text">
                                    <div class="div">{{ AL[2] }}</div>
                                    </p>
                                    <button type="button" class="btn btn-primary" id="more{{ AL[0] }}" value="{{ AL[0] }}">选择数据集</button>
                                </div>
                            </div>
                        </div><!-- end service -->
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


</body>
</html>

