<!DOCTYPE html>
<html class="no-js" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoLD_算力商城</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/img/ourfavicon.ico">
    <!-- Google Fonts -->
    <link href="../static/css/mall/assets/fonts-googleapis.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/mall/assets/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/mall/assets/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/mall/assets/flaticon.css">
    <link rel="stylesheet" href="../static/css/mall/assets/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/mall/assets/meanmenu.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="../static/css/mall/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/mall/assets/owl.theme.default.min.css">
    <!-- Main Css -->
    <link rel="stylesheet" href="../static/css/mall/assets/stl.css">
    <link rel="stylesheet" href="../static/css/mall/assets/rs.css">
    <link rel="stylesheet" href="../static/css/mall/assets/ms.css">
    <link rel="stylesheet" href="../static/css/mall/assets/main.css">
    <link rel="stylesheet" href="../static/css/mall/assets/inner-pages.css">
    <link rel="stylesheet" href="../static/css/mall/assets/inner-pages-responsive.css">

    <!-- JavaScript Files -->
    <script src="../static/js/mall/jquery-3.2.1.min.js"></script>
    <script src="../static/js/mall/popper.min.js"></script>
    <script src="../static/js/mall/bootstrap.min.js"></script>
    <script src="../static/js/mall/owl.carousel.min.js"></script>
    <script src="../static/js/mall/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/mall/jquery.meanmenu.min.js"></script>
    <script src="../static/js/mall/main.js"></script>
    <script src="../static/js/mall/algorithmic.js"></script>

    <style>
        div {
            margin-top: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
    </style>
</head>
<body class="home-hostio" id="home-hostio">

<div class="service-section pb-100" id="service-section">
    <div class="container">
        <div class="row2">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <div class="bestsite-head text-center pt-50 pb-70">
                    <div class="section-title">
                        <h2>算力筛选</h2>
                    </div>
                    <div class="section-content" style="margin: 40px">

                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="service-option" style="margin-top: 0px">
            <div class="row">
                {% for ca in calculate_select %}
                    {% if ca[4] %}
                        <!-- star service -->
                        <div class="col-md-4">
                            <div class="service-area">
                                <div class="service-body">
                                    <h5 class="card-title">
                                        <div>{{ ca[1] }}</div>
                                    </h5>
                                    <p class="card-text">
                                    <div>可用数量：{{ ca[4] }}</div>
                                    <br>
                                    <div class="div">{{ ca[2] }}</div>
                                    </p>
                                    <button type="button" class="btn btn-outline-primary" id="DJ{{ loop.index }}"
                                            value="{{ ca[1] }}">确认订单
                                    </button>
                                </div>
                            </div>
                        </div><!-- end service -->
                    {% else %}
                        <!-- star service -->
                        <div class="col-md-4">
                            <div class="service-area">
                                <div class="service-body">
                                    <h5 class="card-title">
                                        <div>{{ ca[1] }}</div>
                                    </h5>
                                    <p class="card-text">
                                    <div>可用数量：{{ ca[4] }}</div>
                                    <br>
                                    <div class="div">{{ ca[2] }}</div>
                                    </p>
                                    <button type="button" class="btn btn-outline-primary" id="DJ{{ loop.index }}"
                                            value="{{ ca[1] }}" disabled>确认订单
                                    </button>
                                </div>
                            </div>
                        </div><!-- end service -->
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


</body>
</html>

