<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/跳转到确认订单页面" method="post">
        <img src="logo.png">让深度学习和呼吸一样自然
        <input type="image" name="头像">
        <input type="submit" value="个人中心"><br>
        算力筛选<br>
        GPU型号
        <input type="radio" name="RTX">RTX
        <input type="radio" name="XXXX">XXXX
        <input type="radio" name="xxx">XXX
        <input type="radio" name="xx">XX<br>
        RAM大小
        <input type="range" name="滑动条"><br>

        型号排序 算力大小排序 价格排序<br>

        GPU1------GPU信息------租用时间
        <select class="form-control" name="manufacturer" id="manufacturer">
            <option></option>
            <option selected="selected">--请选择租用时间--</option>
            <option >1天</option>
            <option >5天</option>
            <option >10天</option>
            <option >15天</option>
        </select>
        <input type="radio" name="确认购买1">确认购买<br>

        GPU2------GPU信息------租用时间
        <select class="form-control" name="manufacturer" id="manufacturer">
            <option></option>
            <option selected="selected">--请选择租用时间--</option>
            <option >1天</option>
            <option >5天</option>
            <option >10天</option>
            <option >15天</option>
        </select>
        <input type="radio" name="确认购买2">确认购买<br>

        GPU3------GPU信息------租用时间
        <select class="form-control" name="manufacturer" id="manufacturer">
            <option></option>
            <option selected="selected">--请选择租用时间--</option>
            <option >1天</option>
            <option >5天</option>
            <option >10天</option>
            <option >15天</option>
        </select>
        <input type="radio" name="确认购买3">确认购买<br>

        GPU4------GPU信息------租用时间
        <select class="form-control" name="manufacturer" id="manufacturer">
            <option></option>
            <option selected="selected">--请选择租用时间--</option>
            <option >1天</option>
            <option >5天</option>
            <option >10天</option>
            <option >15天</option>
        </select>
        <input type="radio" name="确认购买4">确认购买<br>

        GPU5------GPU信息------租用时间
        <select class="form-control" name="manufacturer" id="manufacturer">
            <option></option>
            <option selected="selected">--请选择租用时间--</option>
            <option >1天</option>
            <option >5天</option>
            <option >10天</option>
            <option >15天</option>
        </select>
        <input type="radio" name="确认购买5">确认购买<br>


        <input type="submit" value="提交订单">
    </form>

</body>
</html>