<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Header</title>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-light fixed-top" style="background-color: #b8e8ea;">
            <div class="container">
                <img src="../static/img/logo.png" width="50"height="50"/>
                <a href="https://bjfuautold.ltk" class="navbar-brand">AutoLD让深度学习变得和呼吸一样自然</a>

            </div>
        </nav>
    </body>
</html>