<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action = ''>
        手机号:      <input name="phonenumber" type="text" placeholder="单行输入："><br>
        密码：       <input namek="password" type="password" placeholder="单行输入"><br>
        <button type="button" >
            登录
        </button>

        <button type="button" >
            注册
        </button>
        <br>

        <button type="button" >
           账户密码
        </button>

        <button type="button" >
            短信验证
        </button>

        <button type="button" >
            忘记密码
        </button>


    </form>

</body>
</html>