<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
</head>
<body>
    
    <p >忘记密码</p>
    <form action="/login" method="post">
        <input type="text" name="phone_number" placeholder="请输入手机号"><br>
        <input type="password" name="verify" placeholder="请输入验证码" >
        <input type="button" value="发送验证码"><br>
        <input type="password" name="new_password0" placeholder="请输入新密码"><br>
        <input type="password" name="new_password1" placeholder="请确认新密码"><br>
        <input type="button" value="重置密码"><br>
        <input type="submit" value="返回登录">
    </form>
</body>
</html>