<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AutoLD_支付界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Lato|Fjalla+One' rel='stylesheet' type='text/css'>
    <!-- Le styles -->
    <link href="../static/css/pay/bootstrap.css" rel="stylesheet">
    <link href="../static/css/pay/bootstrap-responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/ourfavicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <style>
        .anniu {
            position: relative;
            left: 1000px;
        }
    </style>
    <script src="../static/js/pay/jquery.js"></script>
    <script src="../static/js/pay/zhifu.js"></script>
    <script src="../static/js/pay/quxiao.js"></script>
</head>


<body>
<!-- Main Menu end -->
<div class="wrap bg1">
    <div class="container"> <!-- Header starts -->
        <div class="hero-unit">
            <h1 align="center">订单信息</h1>
            <div class="row-fluid">
                <div class="header-image">
                    <div class="biaoti">
                        <div style="height:50px"></div>
                        <table class="table table-bordered table-striped">
                            <tr class="activeRow">
                                <td>订单号</td>
                                <td>账号</td>
                                <td>算法类型</td>
                                <td>数据集</td>
                                <td>GPU-CPU</td>
                                <td>时间</td>
                                <td>定金</td>
                            </tr>
                            <tr>
                                <td height="230px">{{ danhao }}</td>
                                <td height="230px">{{ info[1] }}</td>
                                <td height="230px">{{ algorithmic }}</td>
                                <td height="230px">{{ datas }}</td>
                                <td height="230px">{{ calculate }}</td>
                                <td height="230px">{{time}}</td>
                                <td height="230px">5￥</td>
                            </tr>
                            <tr>
                                <td height="4px"></td>
                                <td height="4px"></td>
                                <td height="4px"><a href="/algorithmic_mall">修改</a></td>
                                <td height="4px"></td>
                                <td height="4px"><a href="/calculate_mall">修改</a></td>
                                <td height="4px"></td>
                                <td height="4px"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="anniu">
                        <button type="button"  class="btn btn-info" style="height: 40px;width: 70px" id="quxiao_btn">取消</button>
                        <button type="button" class="btn btn-warning" style="height: 40px;width: 70px;" id="zhifu_btn">支付</button>
                    </div>
                </div>
            </div>
        </div>
         <div class="alert alert-primary d-flex align-items-center" role="alert">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                                     role="img" aria-label="Warning:">
                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                                <div>
                                    交易实际金额根据算力配置、运行时间生成，未用掉的定金会返还到用户的余额当中
                                </div>
                            </div>
    </div>
</div>

<script src="../static/js/pay/jquery.js"></script>
<script src="../static/js/pay/bootstrap.min.js"></script>


<div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript'
            charset='gb2312'></script>
</div>


</body>
</html>