<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
        <img src="..\static\logo.png" width="150" height="150">
        <form action='/reg_result' method="post">
        手机号：<input type='text' name='username'><br>
        验证码：<input type='text' name='vcode'><input type="button"  value="发送验证码"/><br>
        密  码：<input type='password' name='password'><br>
        重复密码：<input type="password" name="repwd"><br>
        <input type="checkbox" name="agreement" value="yes">我已认真阅读并同意《AutoLD服务协议》<br>
        <input type='submit' value='注册'>
        </form>
</body>
</html>