<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title>usercontrol</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color:#b8e8ea;">

        <!-- div1 start -->
        <div class="collapse navbar-collapse justify-content-start">

            <!-- Brand -->
            <a href="/home"><img src="../static/img/logo.png" alt="logo" width="82" height="60"></a>
            <a class="navbar-brand" href="/home">&nbsp;&nbsp;&nbsp;AutoLD</a>

            <!-- navbar-nav -->
            <ul class="navbar-nav">
                    
                <!-- Links -->
                <li class="nav-item">
                    <a class="nav-link" href="/home">让深度学习和呼吸一样自然</a>
                </li>
            </ul>
        </div>

        <!-- div2 end -->
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/usercontrol">个人中心</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="layout">
    <aside class="aside">
        <h3>主页</h3>
        <h3>数据集、算法与硬件</h3>
        <h3>我的实例</h3>
        <h3>公开数据集</h3>
        <h3>账号中心</h3>
        <h3>个人中心</h3>
        <h3>我的订单</h3>
        <h3>发票管理</h3>
        <h3>注销登录</h3>
    </aside>
    <article class="article">
        <img src="" alt="用户头像">
        <p>用户名</p>
        <p>我的手机号</p>
        <a href="http://bjfuautold.ltd/gaibangshouji">点击更换绑定</a>
        <p>我的邮箱</p>
        <a href="http://bjfuautold.ltd/gaibangyouxiang">点击更换绑定</a><br>
        <a href="http://bjfuautold.ltd/">修改密码</a><br>
        <a href="http://bjfuautold.ltd/check">我的发票</a>
    </article>
    </div>
    </form>

</body>
</html>