<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            /*width: 100px;*/
            /*height: 100px;*/
            /*background-color: deeppink;*/
            /*border: 5px solid blue;*/
            /*padding: 5px;*/
            /*margin: 5px;*/
            background-color: #b8e8ea;
        }
        a{
            width: 100px;
            height: 100px;
            background-color: deepskyblue;
            /*转换为内联块级标签*/
            display: inline-block;

        }
    </style>
</head>
<body>

<!--<div>这是个盒子</div>-->


<div></div>

</body>
</html>